# Compilados Java
*.class

# Carpeta de salida de compilacion
/bin/

# Datos serializados generados por el programa
/data/*.dat

# Configuracion local de VS Code
.vscode/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Salida estAndar de Maven
/target/
